* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body{
	overflow:hidden;
}

ul{
	list-style:none;
}

select,
input{
  box-sizing:border-box;
}

/****************************************************/

.top-bar {
	display: block;
	width:100%;
	height: 4em;
	border-bottom: solid 1px #ccc;
	background-color: #aaa;
	position:fixed;
	top:0;
}

  .top-bar .language-selector {
    display: inline-block;
    height: 2em;
    margin: 1em;
  }

  .top-bar .language-selector select{
    height: 2em;
    width:6em;
  }

  .top-bar ul {
    float: right;
    height: 2em;
    margin: 1em;
  }

  .top-bar li {
    display: inline-block;
    margin-right: 1em;
    height: 2em;
    line-height:2em;
    cursor: pointer;
  }

/****************************************************/

.left-menu {
	overflow: auto;
	float: left;
	padding: 1em;
	width: 14em;
	height:33em;
}

	.left-menu .inner-container {
		padding-right: 1em;
	}

	.left-menu .menu-level1 {
	
	}

	.left-menu .menu-level1 label{
		cursor:pointer;
		font-size:1.6em;
		
	}

		.left-menu .menu-level1 label.selected {
			color: red;
			font-weight: 600;
		}

	.left-menu .menu-level2 {
		cursor: pointer;
		font-size:1em;
		text-indent:1em;
	}

		.left-menu .menu-level2.selected {
			color:red;
		}

		.left-menu .menu-level2.selected:before {
			content: " > ";
		}

/****************************************************/

.main-contents {
	margin-top: 4em;
	margin-left: 16em;
	height: 54em;
	border-left: solid 1px #000;
	overflow: auto;
}

.contents-container {
	height: 64em;
}





