
.z-pager{

}

.z-pager.hide{
	display:none;
}

	.z-pager .pager-membrane {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:#000;
		opacity:0.5;
		z-index:7;
	}

	.z-pager .pager-main {
		width: 1000px;
		height: calc(100% - 4em);
		min-height: 580px;
		position: fixed;
		top: 2em;
		left: calc(50% - 500px);
		background-color: #fff;
		z-index: 8;
	}

	.z-pager .pager-main.word {
		min-height:unset;
		height: auto;
		top:calc(50% - 10em);
	}

		.z-pager .pager-main.word .pager-title {
		  text-align:left;
			text-indent:2em;
		}

	.z-pager .pager-main.article {

	}

.pager-title {
	border-bottom: solid 3px #ccc;
	height: 4em;
	line-height: 4em;
	text-align: center;
	
}

.pager-title p{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:2em;
}

.pager-main .pager-content {
	border: dashed 2px #ccc;
	margin: 2em;
	height: calc(100% - 10em);
	padding:0.5em 1em;
}

.pager-main.article .pager-content p {
	text-indent:2em;
	font-size:1em;
	line-height:1.8em;

}





