/*.effects-section-skeleton {
	background: #fafafa;
	background: linear-gradient(to bottom, #fafafa 0%, #fff 100%);
	height: 800px;
	position: relative;
}*/

.effects-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: #fafafa;
	background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
	height: 800px;
	position: relative;
}

.effects-section p {
	text-align: center;
}

.effects-section > p {
	flex-basis: 100%;
	font-size: 48px;
	position: relative;
	cursor: pointer;
	transition: .3s;
}

.effects-section > p:hover {
	color: #61dafb;
}

.effects-section > .introduce-part {
	flex-basis: 20%;
	text-align: center;
	/*border: solid 1px #ccc;*/
	height: 560px;
	position: relative;
	background-color: #eee;
}

.effects-section > .introduce-part > img {
	height: 80px;
}

.effects-section > .introduce-part > p {
	font-size: 30px;
	font-weight: bold;
	margin: 1.2rem 0;
}
